.container{
	background-color: #2f2e2e;
	// background-color: #FFF;
	width: 24%;
	height: 250px;
	padding: 1rem 0.5rem;
	border-radius: 8px;
}

.image_container{
	// border: 1px solid red;
	display: flex;
	// flex-direction: row;
	justify-content: center;
	.image{
		// border: 1px solid blue;
	}
}

.content{
	color: #FFF;
	// color: #2f2e2e;
}